<div 
    [style.background-color]="getColor('backgroundColor')"
    [style.border]="getColor('colorOn') + ' solid 1px'"
    class="container"
>
    <h3
        [style.color]="getColor('colorOn')"
    >
        {{timezone}}
    </h3>
    <button (click)="remove()">
        remove
    </button>
    <br>
    <app-watch
        [timezone]="timezone"
        [printLabels]="printLabels"
        [canvasSize]="canvasSize"
        [backgroundColor]="getColor('backgroundColor')"
        [secondHandColor]="getColor('secondHandColor')"
        [secondHandWidth]="secondHandWidth"
        [minuteHandColor]="getColor('minuteHandColor')"
        [minuteHandWidth]="minuteHandWidth"
        [hourHandColor]="getColor('hourHandColor')"
        [hourHandWidth]="hourHandWidth"
        [textColor]="textColor"
        [minorTickColor]="getColor('minorTickColor')"
        [minorTickWidth]="minorTickWidth"
        [majorTickColor]="getColor('majorTickColor')"
        [majorTickWidth]="majorTickWidth"
        [hourCenterPinDiameter]="hourCenterPinDiameter"
        [minuteCenterPinDiameter]="minuteCenterPinDiameter"
        [secondCenterPinDiameter]="secondCenterPinDiameter"
        [centerPinDiameter]="centerPinDiameter"
        [centerPinColor]="getColor('centerPinColor')"
    >
    </app-watch>
    <app-nine-segment-watch
        [timezone]="timezone"
        [width]="width"
        [height]="height"
        [randomNoise]="randomNoise"
        [glowColor]="getColor('glowColor')"
        [glowBlur]="glowBlur"
        [backgroundColor]="getColor('backgroundColor')"
        [colorOn]="getColor('colorOn')"
        [colorOff]="getColor('colorOff')"
    >
    </app-nine-segment-watch>
</div>