.container {
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    font-style: italic;
    box-shadow: 3px 4px 24px -7px rgba(0, 0, 0, 0.75);
    
    .remove-button {
        background-color: rgb(199, 0, 0);    
        color: white;
        font-weight: 800;
        transition: 0.3s;
    }

    .remove-button:hover {
        background-color: rgb(255, 99, 99); 
    }

    h3 {
        padding-bottom: 20px;
        display: inline-block
    }
}