.container {
    background-color: #023047;
    border: #ffb703 solid 1px;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    font-style: italic;
    box-shadow: 3px 4px 24px -7px rgba(0,0,0,0.75);
    button {
        display: inline-block;
        margin-left: 20px;
        margin-bottom: 20px;
        padding: 2px 8px;
        border-radius: 2px;
        border: 0;
        cursor: pointer;
    }
    button:hover {
        filter: alpha(opacity=50);
    }
    h3 {
        padding-bottom: 20px;
        display: inline-block
    }
}