<main class="main">
  <div class="content">
    <!-- <ul>
      <li *ngFor="let tz of available_timezones">
        {{tz}}
      </li>
    </ul> -->

  <!-- {{time_a}}<br>
  {{time_b}}<br>
  {{time_c}}<br> -->

  <app-watch
    [canvasSize]="canvasSize"
    [backgroundColor]="backgroundColor"
    [secondHandColor]="secondHandColor"
    [secondHandWidth]="secondHandWidth"
    [minuteHandColor]="minuteHandColor"
    [minuteHandWidth]="minuteHandWidth"
    [hourHandColor]="hourHandColor"
    [hourHandWidth]="hourHandWidth"
    [textColor]="textColor"
    [minorTickColor]="minorTickColor"
    [minorTickWidth]="minorTickWidth"
    [majorTickColor]="majorTickColor"
    [majorTickWidth]="majorTickWidth"
    [hourCenterPinDiameter]="hourCenterPinDiameter"
    [minuteCenterPinDiameter]="minuteCenterPinDiameter"
    [secondCenterPinDiameter]="secondCenterPinDiameter"
    [centerPinDiameter]="centerPinDiameter"
    [centerPinColor]="centerPinColor"
  >
  </app-watch>
  <br>
  <app-nine-segment-watch>
  </app-nine-segment-watch>

  </div>
</main>