<main class="main">
  <div class="header">
    <select class="tzCombo" [(ngModel)]="selectedTz">
      <option *ngFor="let tz of availableTimezones">{{tz}}</option>
    </select>
    <button [disabled]="selectedTz.length >= 6" (click)="addTimezone()">add timezone</button>
  </div>
  <div class="content">
    <div class="timezone" *ngFor="let timezone of timezones">
      <app-timezone [timezone]="timezone" (removeTimezoneEvent)="removeTimezone($event)"></app-timezone>
    </div>
  </div>
</main>