<app-nine-segment-digit
    [digit]="firstHourDigit"
    [width]="width"
    [height]="height"
    [randomNoise]="randomNoise"
    [glowColor]="glowColor"
    [glowBlur]="glowBlur"
    [backgroundColor]="backgroundColor"
    [colorOn]="colorOn"
    [colorOff]="colorOff"
></app-nine-segment-digit>
<app-nine-segment-digit
    [digit]="secondHourDigit"
    [width]="width"
    [height]="height"
    [randomNoise]="randomNoise"
    [glowColor]="glowColor"
    [glowBlur]="glowBlur"
    [backgroundColor]="backgroundColor"
    [colorOn]="colorOn"
    [colorOff]="colorOff"
></app-nine-segment-digit>
<app-nine-segment-digit
    [digit]="blinkingColon"
    [width]="width"
    [height]="height"
    [randomNoise]="randomNoise"
    [glowColor]="glowColor"
    [glowBlur]="glowBlur"
    [backgroundColor]="backgroundColor"
    [colorOn]="colorOn"
    [colorOff]="colorOff"
></app-nine-segment-digit>
<app-nine-segment-digit
    [digit]="firstMinuteDigit"
    [width]="width"
    [height]="height"
    [randomNoise]="randomNoise"
    [glowColor]="glowColor"
    [glowBlur]="glowBlur"
    [backgroundColor]="backgroundColor"
    [colorOn]="colorOn"
    [colorOff]="colorOff"
></app-nine-segment-digit>
<app-nine-segment-digit
    [digit]="secondMinuteDigit"
    [width]="width"
    [height]="height"
    [randomNoise]="randomNoise"
    [glowColor]="glowColor"
    [glowBlur]="glowBlur"
    [backgroundColor]="backgroundColor"
    [colorOn]="colorOn"
    [colorOff]="colorOff"
></app-nine-segment-digit>
<app-nine-segment-digit
    [digit]="blinkingColon"
    [width]="width"
    [height]="height"
    [randomNoise]="randomNoise"
    [glowColor]="glowColor"
    [glowBlur]="glowBlur"
    [backgroundColor]="backgroundColor"
    [colorOn]="colorOn"
    [colorOff]="colorOff"
></app-nine-segment-digit>
<app-nine-segment-digit
    [digit]="firstSecondDigit"
    [width]="width"
    [height]="height"
    [randomNoise]="randomNoise"
    [glowColor]="glowColor"
    [glowBlur]="glowBlur"
    [backgroundColor]="backgroundColor"
    [colorOn]="colorOn"
    [colorOff]="colorOff"
></app-nine-segment-digit>
<app-nine-segment-digit
    [digit]="secondSecondDigit"
    [width]="width"
    [height]="height"
    [randomNoise]="randomNoise"
    [glowColor]="glowColor"
    [glowBlur]="glowBlur"
    [backgroundColor]="backgroundColor"
    [colorOn]="colorOn"
    [colorOff]="colorOff"
></app-nine-segment-digit>
<app-nine-segment-digit
    [digit]="blinkingDot"
    [width]="width"
    [height]="height"
    [randomNoise]="randomNoise"
    [glowColor]="glowColor"
    [glowBlur]="glowBlur"
    [backgroundColor]="backgroundColor"
    [colorOn]="colorOn"
    [colorOff]="colorOff"
></app-nine-segment-digit>
<app-nine-segment-digit
    [digit]="firstMillisecondDigit"
    [width]="width"
    [height]="height"
    [randomNoise]="randomNoise"
    [glowColor]="glowColor"
    [glowBlur]="glowBlur"
    [backgroundColor]="backgroundColor"
    [colorOn]="colorOn"
    [colorOff]="colorOff"
></app-nine-segment-digit>
<app-nine-segment-digit
    [digit]="secondMillisecondDigit"
    [width]="width"
    [height]="height"
    [randomNoise]="randomNoise"
    [glowColor]="glowColor"
    [glowBlur]="glowBlur"
    [backgroundColor]="backgroundColor"
    [colorOn]="colorOn"
    [colorOff]="colorOff"
></app-nine-segment-digit>
<app-nine-segment-digit
    [digit]="thirdMillisecondDigit"
    [width]="width"
    [height]="height"
    [randomNoise]="randomNoise"
    [glowColor]="glowColor"
    [glowBlur]="glowBlur"
    [backgroundColor]="backgroundColor"
    [colorOn]="colorOn"
    [colorOff]="colorOff"
></app-nine-segment-digit>